{{ define "recurse-toc" }}
  {{ $s := .section }}
  {{ $p := .page }}
  {{ $psid := .psid }}
  {{ $pages := (union $s.Pages $s.Sections).ByWeight }}
  {{ $subSection := 1 }}

  {{ range $pages }}
    {{ $sid := printf "%s%d" $psid $subSection }}
    {{ $subSection = add $subSection 1 }}
	{{ partial "print/toc-li.html" (dict "sid" $sid "Page" .) }}
    {{ if .IsSection }}
    <ul>
        {{ template "recurse-toc" (dict "page" $p "section" . "psid" (printf "%s." $sid)) }}
    </ul>
    {{ end }}
  {{ end }}
{{ end }}

{{ define "recurse-content" }}
  {{ $s := .section }}
  {{ $p := .page }}
  {{ $psid := .psid }}
  {{ $pages := (union $s.Pages $s.Sections).ByWeight }}
  {{ $subSection := 1 }}
  
  {{ $doPageBreak := gt (countwords $s.Content) 50 }}

  {{ range $pages }}
    {{ $sid := printf "%s%d" $psid $subSection }}
    {{ $subSection = add $subSection 1 }}
	{{ $params := dict "Page" . "PageNum" $sid "DoPageBreak" $doPageBreak }}
    {{ partial "print/content.html" $params }}

    {{ if .IsSection }}
      {{ template "recurse-content" (dict "page" $p "section" . "psid" (printf "%s." $sid) ) }}
    {{ end }}
	{{ $doPageBreak = true }}
  {{ end }}
{{ end }}

<div class="td-content">
<div class="pageinfo pageinfo-primary d-print-none">
<p>
    This is the multi-page printable view of this section.
</p><p>
    <a href="{{ .RelPermalink }}">Click here for the regular view of this page.</a>
</p>
</div>
{{ partial "print/page-heading.html" . }}

{{ if not (.Param "print.disable_toc") }}
    <ul>
    {{ template "recurse-toc" (dict "page" . "section" .FirstSection "psid" "") }}
    </ul>
{{ end }}

<div class="content">
      {{ .Content }}
</div>
</div>

{{ template "recurse-content" (dict "page" . "section" .FirstSection "psid" "") }}
